<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DevApi.plist
   kyutechapp2017

   Created by 塩田宰 on 2017/02/26.
   Copyright (c) 2017年 塩田宰. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
